/*  Copyright 2015 Prateek Mathur
    
    All Issues is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    All Issues is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with All Issues. If not, see <http://www.gnu.org/licenses/>.
 */

header	{
	text-align : center;
	background : #D3E3E8; 
	font-family : "Cambria", Times, serif;
	font-size : 16px;
}

section	{
	text-align : center;
	background : #D3E3E8; 
}

article	{
	text-align : center;
	font-family : "Calibri", Times, serif;
	font-size: 14px;
}

#login	{
	margin: 1em;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	
	justify-content : center;
}

#forgotpass	{
	text-align : center;
	font-family : "Calibri", Times, serif;
}

th, td	{
	text-align : right;
	padding : 0.5rem;
}

th	{
	font-weight : bold;
	text-align : center;
}
