<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <customer-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </customer-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.allissues.logic.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateIssue</display-name>
    <servlet-name>CreateIssue</servlet-name>
    <servlet-class>com.allissues.logic.CreateIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateIssue</servlet-name>
    <url-pattern>/AddIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProject</display-name>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>com.allissues.logic.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
</web-app>